.nav {
	background-color: #000;
	color: #fff;
	padding: 1rem 0;
	display: flex;
	flex-direction: row;
}

.navContents {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.brand {
	font-size: 2rem;
}

.footer {
	background-color: #000;
	color: #fff;
	padding: 2rem 0;
}

.infoSection {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 2rem;
}

.infoSection h3 {
	margin-bottom: 1rem;
}

.footerContact {
	width: 600px;
}

.footerContact p {
	line-height: 1.5;
}

.footerLinks {
	flex-direction: column;
	gap: 0.5rem;
}

.copyright {
	font-weight: 700;
	text-align: center;
}
